.button-container {
    display: flex;
  }
  .button-container button {
    margin-right: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clock {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .date {
    font-size: 18px;
  }

  /* 共通スタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button-container button:hover {
  background-color: #45a049;
}

.content {
  display: none;
  background-color: #fff;
  padding: 20px;
}

/* ホームページのスタイル */
#home {
  display: block;
}

/* ダッシュボードのスタイル */
#dashboard {
  display: none;
}

/* 在庫一覧のスタイル */
#inventoryList {
  display: none;
}

/* 在庫登録のスタイル */
#addItem {
  display: none;
}

/* 発注のスタイル */
#itemOrder {
  display: none;
}

/* 検品のスタイル */
#stockManagement {
  display: none;
}

/* 棚卸のスタイル */
#reports {
  display: none;
}

/* 検索のスタイル */
#finditem {
  display: none;
}

/* 設定のスタイル */
#settings {
  display: none;
}