  /* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .clock {
   font-size: 24px;
   margin-bottom: 10px;
 }
 .date {
   font-size: 18px;
 }

  /* 共通スタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
h1, h2 {
  color: #333;
}
.content {
  display: none;
  background-color: #fff;
  padding: 20px;
  position: relative;
  top: 50px;
}

  /* ラジオボタン */
.radio-container {
  position: relative;
  z-index: 1;
  }
  .radio-container input{
	  display: none;
    }
  .radio-container label{
	  display: block;
	  float: left;
	  cursor: pointer;
    height: 30px;
	  /*width: 156px;*/
    width: 15.7%;
	  margin: 0;
	  padding: 12px 5px;
	  border-right: 3px solid #abb2b7;
	  background: #bdc3c7;
	  color: #555e64;
	  font-size: 15px;
	  text-align: center;
	  line-height: 30px;
	  /*transition: .2s;*/
    }
  .radio-container label:first-of-type{
	  border-radius: 3px 0 0 3px;
    }
  .radio-container label:last-of-type{
	  border-right: 0px;
	  border-radius: 0 3px 3px 0;
  }
  .radio-container input[type="radio"]:checked + label {
  	background-color: #4caf50;
	  color: #fff;
  }

  /* テーブル */
table {
  width: 100%;
  background: #fff;
  font-size: 16px;
  border-collapse: collapse;
  border: 2px solid black;
  }
  @media screen and (max-width: 768px) {
   table {
     font-size: 12px;
   }
  }
  thead {
    background: #eee;
  }
  thead tr th {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 1px solid black;
    border-left: 1px solid black; 
    border-bottom: 1px solid black;
  }
  tbody tr:nth-child(even) {
    background: #eee;
  }
  td {
    vertical-align: middle;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: 1px solid black; 
  }
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  /* 各ボタン */
button {
  width: 200px;
  margin:0 auto;
  padding: .9em 2em;
  border: none;
  border-radius: 5px;
  background-color: #8cc75c;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  }
  button:hover {
    background-color: #7cb74c;
  }

section#register button:first-of-type {
  margin-left: 280px;
  margin-bottom: 10px;
}

section#register button:last-of-type {
  margin-left: 300px;
}

section#registerFood button {
  margin-top: 10px;
  display: block;
}

section#order button:first-of-type {
  margin-left: 280px;
  margin-bottom: 10px;
}

section#order button:last-of-type {
  margin-left: 300px;
}

section#inspect button:first-of-type {
  margin-left: 280px;
  margin-bottom: 10px;
}

section#inspect button:last-of-type {
  margin-left: 300px;
}

#newOrderTable button {
  width: 100px;
}

#unInspectedTable button {
  width: 100px;
}

section#addreport  button {
  font-size: 17px;
  height: 50px;
  line-height: 0px;
}


  /* 食材登録入力フォーム */
.input-form {
  position: relative;
  margin-top: 50px;
  left: 50px;
  }
  .input-form label {
    position: absolute;
    top:-20px;
  }
  .input-form input {
    height: 30px;
    border: 2px solid black;
  }
  .input-form input:last-of-type {
    width: 450px;
  }

  /* 売上入力フォーム */
.sales-wrapper {
  text-align: right;
  margin-right: 100px;
  }
  .sales-wrapper input {
    height: 30px;
    width: 200px;
    border: 1px solid black;
  }



.select-box {
  position: relative;
  }
  .select-box::before,
  .select-box::after {
    position: absolute;
    content: '';
    pointer-events: none;
  }
  .select-box::before {
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
    content: '';
  }
  .select-box::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
  }
  .select-box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #2589d0;
    border-radius: 3px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
  }
  .select-box select:focus {
    outline: 1px solid #2589d0;
  }

#stockSummary p {
  display: inline;
  margin-left: 30px;
  font-size: 20px;
}

section#home {
  z-index: 2;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

header button{
  display: none;
  margin-right: 150px;
}

section#home button {
  margin-left: 190px;
  margin-bottom: 50px;
}

section#home h2{
  margin-left: 50px;
}

#stockSummary {
  margin-left: 50px;
}

#latestShipments {
  margin-left: 50px;
}

.research-box {
  width: 900px;
  margin-left: 230px;
  border:2px solid black;
  border-radius: 20px;
}
.research-box p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}